<%- include('../partials/header'); %>

<div class="container my-3">
    <form action="/" method="GET"></form>
        <h5>Login:</h5>
        <div class="card">
            <div class="card-body">
                <label for="email">Email:</label>
                <input type="text" class="form-control" name="email" required>
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" name="senha" required>
                <button class="btn btn-success" type="submit">Logar</button>

            </div>
        </div>
</div>

<%- include('../partials/footer'); %>