*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 9vh;
    color: black;
}

#body_index{
    background-image: url('/img/body.png');
    background-color: #faf8f8c1;
    font-style: bold;
}

#redes, img{
    width: 5vw;
    height: 5vh;
}
